.contenedor_busqueda {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    border-radius: 25px;
    width: 85%;
    background-color: white;
    font-family: 'Outfit', sans-serif;
    padding: 20px 0px 20px 0px;
    box-shadow: 0px 0px 10px 2px gray;
    margin: auto;
}

.contenedor_busqueda h1 {
    margin-left: 50px;
    font-size: 40px;
    max-width: 60%;
}

.contenedor_busqueda p {
    margin-left: 50px;
}

.formu_busqueda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 50px;
}

.filtro_precio {
    background-color: #3C7160;
    color: white;
    padding: 10px;
    width: 195px;
    text-align: center;
    margin-left: 10px;
    font-size: 23px;
    border-radius: 30px;
    border: solid #3C7160 2px;
    cursor: pointer;
}

.filtro_tipo {
    width: 90px !important;
}

.filtro_opciones {
    width: 150px !important;
}

.habitaciones {
    background-color: rgb(222, 248, 233);
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-top: 40px;
    border-radius: 25px;
    margin-top: 35px;
    align-self: center;
}

.contenedor_habitacion {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

}

.info {
    margin-left: 50px;
    margin-right: 50px;
}

.extras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.habitaciones:hover {
    border: solid #3C7160 4px;
    cursor: pointer;
}